{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static 'common/js/main.js' %}"></script>
{% endblock %}
{% block navbar %}
<nav class="white">
    <div class="nav-wrapper">
        <a href="//{{ request.get_host }}{% url 'main' %}" class="brand-logo blue-text text-darken-4">VocabularyHarmonizer</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a  class="blue-text text-darken-4" href="//{{ request.get_host }}{% url 'about' %}">About</a></li>
            {% if user.is_anonymous %}
                <li><a class="blue-text text-darken-4" href="//{{ request.get_host }}{% url 'login' %}">Log in</a></li>
            {% else %}
                <li><a class="blue-text text-darken-4" href="//{{ request.get_host }}{% url 'vocab:pending' %}">Pending</a></li>
                <li><a class="blue-text text-darken-4" href="#">{{ user.first_name }}</a></li>
                <li><a class="blue-text text-darken-4" href="//{{ request.get_host }}{% url 'logout' %}">log out</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3 center-align white-text">
        <br />
        <br />
        <br />
        <h5>VOCABULARY HARMONIZER is a tool for bridging large and small vocabularies and
        aligning them for collaboration, research, and development</h5>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s1">
        <div class="row">
            <div class="col s8 offset-s2">
                <a href="//{{ request.get_host }}{% url 'vocab:main_page' %}"><div class="circle orange lighten-1 hoverable home-circle true-horizontal-center"><i class="material-icons black-text true-center" style="font-size: 10rem;">translate</i></div></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h4 class="white-text">Domains & Vocabulary</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align white-text">
                <h5>View, manage, and edit domains and their vocabularies</h5>
            </div>
        </div>
    </div>
    <div class="col s4 offset-s2">
        <div class="row">
            <div class="col s8 offset-s2">
                <a href="//{{ request.get_host }}{% url 'vocab:vocab_graph' %}"><div class="circle purple hoverable home-circle true-horizontal-center"><i class="material-icons black-text true-center" style="font-size: 10rem;">insert_chart</i></div></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h4 class="white-text">Visualize</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h5 class="white-text">Visualize the relationships between domains and vocabularies</h5>
                </div>
            </div<
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer class="page-footer white">
    <div class="footer-copyright">
        <div class="container black-text center-align">
            Unless otherwise noted, all content on this website is licensed under a <a class="grey-text text-darken-2" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </div>
    </div>
</footer>
{% endblock %}
