{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'vocab/js/edit_term.js' %}"></script>
    <script type="text/javascript">
        termListCreateURL = '//{{ request.get_host }}{% url 'vocab:terms:list_create' %}';
        tripleListCreateURL = '//{{ request.get_host }}{% url 'vocab:triples:list_create' %}';
    </script>
{% endblock %}
{% block styles %}
    <link href="{% static 'vocab/css/edit_term.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h4>Term</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input placeholder="Term" id="term-input" type="text" class="validate" maxlength="255" value="{{ term.term }}" required>
                <label for="term-input">Term</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <textarea class="materialize-textarea validate" id="term-description-input" maxlength="2048" placeholder="Description" required>{{ term.description }}</textarea>
                <label for="term-description-input">Description</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <select id="term-license-input">
                    <option disabled>Choose a license</option>
                    {% for license in licenses %}
                        <option{% if license.name == term.license.name %} selected{% endif %}>{{ license.name }}</option>
                    {% endfor %}
                </select>
                <label for="term-license-input">License</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <select id="term-domain-input">
                    <option disabled>Choose a domain</option>
                    {% for domain in domains %}
                        <option{% if domain.name == term.domain.name %} selected{% endif %}>{{ domain.name }}</option>
                    {% endfor %}
                </select>
                <label for="term-domain-input">Domain</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Relationships</h4>
        </div>
    </div>
    <div id="term-relationships">
        {% for rel in term_rels %}
            <div class="row">
                <div class="col s12">
                    <p>{{ rel.subject }}&emsp;{{ rel.predicate }}&emsp;{{ rel.object }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s4 offset-s8">
            <button class="waves-effect waves-light btn" id="add-relationship-btn"><i class="material-icons left">open_in_new</i>Add Relationship</button>
        </div>
    </div>
    <div id="add-relationship-modal" class="modal">
        <div class="modal-content">
            <div class="row"><h4>Relationship</h4></div>
            <div class="row">
                <div class="col m6">
                    <h5 class="term-title">{{ term.term }}</h5>
                </div>
                <div class="col m6 input-field">
                    <select class="relationship-selection">
                        {% for relationship in relationships %}
                            <option>{{ relationship }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <p id="term-input-help">the user must separate words using comma or by pressing enter</p>
                </div>
            </div>
            <div class="row">
                <div class="col m12 input-field object-terms-container">
                    <input type="text" id="object-terms-input">
                </div>
            </div>
            <ul class="dropdown-content" id="faux-typeahead">
            </ul>
            <div class="row">
                <div class="col m12">
                    <div class="row">
                        <div class="col m8">
                            <strong>Term</strong>
                        </div>
                        <div class="col m2">
                            <strong>Similarity</strong>
                        </div>
                    </div>
                    {% for row in term.get_similarity_suggestions %}
                        <div class="row">
                            <div class="col m8">
                                {{ row.term }}
                            </div>
                            <div class="col m2">
                                {{ row.similarity }}%
                            </div>
                            <div class="m2">
                                <button class="waves-effect waves-light btn add-to-predicates-btn"><i class="material-icons">add</i></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s1 offset-s10">
                    <button class="waves-effect waves-light btn" id="save-relationship-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
