{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript">
termsListCreateURL = '//{{ request.get_host }}{% url 'vocab:terms:list_create' %}';
termsEditURL = '//{{ request.get_host }}{% url 'vocab:terms:edit_term' %}';
relationshipsListCreateURL = '//{{ request.get_host }}{% url 'vocab:relationships:list_create' %}';
domainsListCreateURL = '//{{ request.get_host }}{% url 'vocab:domains:list_create' %}';
terms = [{% for term in terms %}'{{ term.term }}',{% endfor %}];
relationships = [{% for relationship in relationships %}'{{ relationship.relationship }}',{% endfor %}];
domains = [{% for domain in domains %}'{{ domain.name }}',{% endfor %}];
</script>
<script type="text/javascript" src="{% static 'vocab/js/main_page.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="input-field col s6 offset-s6">
        <i class="material-icons prefix blue-text text-darken-4">search</i>
        <input class="blue-text text-darken-4" id="search-input" type="text" placeholder="Search">
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs" id="vocab-nav-tabs">
            <li class="tab col s4"><a class="active blue-text text-darken-4" href="#tab-terms">Terms</a></li>
            <li class="tab col s4"><a class="blue-text text-darken-4" href="#tab-relationships">Relationships</a></li>
            <li class="tab col s4"><a class="blue-text text-darken-4" href="#tab-domains">Domains</a></li>
        </ul>
    </div>
    <div id="tab-terms" class="col s12">
        <div class="row">
            <div class="col m12 term-filter">
                <br />
                <div class="right-align">
                    <div class="pagination">
                        <li class="active"><a href="#">All</a></li>
                        <li class="waves-effect"><a href="#">A</a></li>
                        <li class="waves-effect"><a href="#">B</a></li>
                        <li class="waves-effect"><a href="#">C</a></li>
                        <li class="waves-effect"><a href="#">D</a></li>
                        <li class="waves-effect"><a href="#">E</a></li>
                        <li class="waves-effect"><a href="#">F</a></li>
                        <li class="waves-effect"><a href="#">G</a></li>
                        <li class="waves-effect"><a href="#">H</a></li>
                        <li class="waves-effect"><a href="#">I</a></li>
                        <li class="waves-effect"><a href="#">J</a></li>
                        <li class="waves-effect"><a href="#">K</a></li>
                        <li class="waves-effect"><a href="#">L</a></li>
                        <li class="waves-effect"><a href="#">M</a></li>
                        <li class="waves-effect"><a href="#">N</a></li>
                        <li class="waves-effect"><a href="#">O</a></li>
                        <li class="waves-effect"><a href="#">P</a></li>
                        <li class="waves-effect"><a href="#">Q</a></li>
                        <li class="waves-effect"><a href="#">R</a></li>
                        <li class="waves-effect"><a href="#">S</a></li>
                        <li class="waves-effect"><a href="#">T</a></li>
                        <li class="waves-effect"><a href="#">U</a></li>
                        <li class="waves-effect"><a href="#">V</a></li>
                        <li class="waves-effect"><a href="#">W</a></li>
                        <li class="waves-effect"><a href="#">X</a></li>
                        <li class="waves-effect"><a href="#">Y</a></li>
                        <li class="waves-effect"><a href="#">Z</a></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion" id="terms-table">
                    {% for term in terms %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">assignment</i>{{ term }}</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <p>{{ term.description }}</p>
                            </div>
                            <div class="row">
                                <div class="col s2 offset-s1">
                                    <div class="chip">
                                        <a class="grey-text text-darken-1" href="{{ term.license.url }}" target="_blank">{{ term.license }}</a>
                                    </div>
                                </div>
                                <div class="col s3 offset-s3">
                                    <a href="//{{ request.get_host }}{% url 'vocab:terms:edit_term' %}?id={{ term.id }}" class="waves-effect waves-light btn right"><i class="material-icons left">mode_edit</i>Edit</a>
                                </div>
                                <div class="col s3">
                                    <button class="waves-effect waves-light btn" type="button"><i class="material-icons left">equalizer</i>Visualize</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="center-align">
                    <ul class="pagination terms-pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        {% for page in term_pages %}
                        <li class="waves-effect{% if page == 1 %} active{% endif %}"><a href="#!">{{ page }}</a></li>
                        {% endfor %}
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-relationships" class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion" id="relationships-table">
                    {% for relationship in relationships %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">library_books</i>{{ relationship }}</div>
                        <div class="collapsible-body">
                            <p>{{ relationship.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="center-align">
                    <ul class="pagination relationships-pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        {% for page in relationship_pages %}
                        <li class="waves-effect{% if page == 1 %} active{% endif %}"><a href="#!">{{ page }}</a></li>
                        {% endfor %}
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-domains" class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion" id="domains-table">
                    {% for domain in domains %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">group_work</i>{{ domain.name }}</div>
                        <div class="collapsible-body">
                            <p>{{ domain.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped modal-trigger" id="add-term-btn" data-tooltip="Add Term" data-position="left" data-delay="50" href="#add-term-modal"><i class="material-icons">assignment</i></a></li>
        <li><a class="btn-floating orange tooltipped modal-trigger" id="add-relationship-btn" data-tooltip="Add Relationship" data-position="left" data-delay="50" href="#add-relationship-modal"><i class="material-icons">library_books</i></a></li>
        <li><a class="btn-floating purple tooltipped modal-trigger" id="add-domain-btn" data-tooltip="Add Domain" data-position="left" data-delay="50" href="#add-domain-modal"><i class="material-icons">group_work</i></a></li>
    </ul>
</div>
<div id="add-term-modal" class="modal">
    <div class="modal-content">
        <h4>Add Term</h4>
        <form id="add-term-form">
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input placeholder="Term" id="term-input" type="text" class="validate" maxlength="255" required>
                        <label for="term-input">Term</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <textarea class="materialize-textarea validate" id="term-description-input" maxlength="2048" placeholder="Description" required></textarea>
                        <label for="term-description-input">Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <select id="term-license-input">
                            <option selected disabled>Choose a license</option>
                            {% for license in licenses %}
                            <option>{{ license.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="term-license-input">License</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <select id="term-domain-input">
                            <option selected disabled>Choose a domain</option>
                            {% for domain in domains %}
                            <option>{{ domain.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s10">
                    <button type="submit" class="waves-effect waves-light btn blue darken-4" id="submit-add-term-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="add-relationship-modal" class="modal">
    <div class="modal-content">
        <h4>Add Relationship</h4>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input placeholder="Relationship" id="relationship-input" type="text" class="validate" maxlength="255">
                    <label for="relationship-input">Relationship</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <textarea class="materialize-textarea validate" id="relationship-description-input" maxlength="2048" placeholder="Description" required></textarea>
                    <label for="term-description-input">Description</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s2 offset-s10">
                <button type="button" class="waves-effect waves-light btn blue darken-4" id="submit-add-relationship-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
<div id="add-domain-modal" class="modal">
    <div class="modal-content">
        <h4>Add Domain</h4>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input placeholder="Name" id="domain-name-input" type="text" class="validate" maxlength="255">
                    <label for="domain-name-input">Domain Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <textarea class="materialize-textarea validate" id="domain-description-input" maxlength="2048" placeholder="Description" required></textarea>
                    <label for="domain-description-input">Description</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <select id="domain-manager-input">
                        <option selected disabled>Choose a manager</option>
                        {% for user in users %}
                        <option data-id="{{ user.username }}">{{ user.get_full_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="domain-manager-input">Manager</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s2 offset-s10">
                <button type="button" class="waves-effect waves-light btn blue darken-4" id="submit-add-domain-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
