{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript">
termsListCreateURL = '//{{ request.get_host }}{% url 'vocab:terms:list_create' %}';
termsEditURL = '//{{ request.get_host }}{% url 'vocab:terms:edit_term' %}';
relationshipsListCreateURL = '//{{ request.get_host }}{% url 'vocab:relationships:list_create' %}';
domainsListCreateURL = '//{{ request.get_host }}{% url 'vocab:domains:list_create' %}';
domains = [{% for domain in domains %}'{{ domain.name }}',{% endfor %}];
pending = [{% for item in pending_items %}{'name': '{{ item.name }}', 'type': '{{ item.type }}', 'description': '{{ item.description }}', 'license': '{{ item.license }}'},{% endfor %}];
</script>
<script type="text/javascript" src="{% static 'vocab/js/pending.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="input-field col s6 offset-s6">
        <i class="material-icons prefix blue-text text-darken-4">search</i>
        <input class="blue-text text-darken-4" id="search-input" type="text" placeholder="Search">
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs" id="vocab-nav-tabs">
            <li class="tab col s4"><a class="active blue-text text-darken-4" href="#tab-pending">Pending</a></li>
            <li class="tab col s4"><a class="blue-text text-darken-4" href="#tab-rejected">Rejected</a></li>
        </ul>
    </div>
    <div id="tab-pending" class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion" id="pending-table">

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="center-align">
                    <ul class="pagination pending-pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        {% for page in pending_pages %}
                        <li class="waves-effect{% if page == 1 %} active{% endif %}"><a href="#!">{{ page }}</a></li>
                        {% endfor %}
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="tab-rejected" class="col s12">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible" data-collapsible="accordion" id="rejected-table">

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <div class="center-align">
                    <ul class="pagination rejected-pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        {% for page in relationship_pages %}
                        <li class="waves-effect{% if page == 1 %} active{% endif %}"><a href="#!">{{ page }}</a></li>
                        {% endfor %}
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating green tooltipped modal-trigger" id="add-term-btn" data-tooltip="Add Term" data-position="left" data-delay="50" href="#add-term-modal"><i class="material-icons">assignment</i></a></li>
        <li><a class="btn-floating orange tooltipped modal-trigger" id="add-relationship-btn" data-tooltip="Add Relationship" data-position="left" data-delay="50" href="#add-relationship-modal"><i class="material-icons">library_books</i></a></li>
        <li><a class="btn-floating purple tooltipped modal-trigger" id="add-domain-btn" data-tooltip="Add Domain" data-position="left" data-delay="50" href="#add-domain-modal"><i class="material-icons">group_work</i></a></li>
    </ul>
</div>
<div id="add-term-modal" class="modal">
    <div class="modal-content">
        <h4>Add Term</h4>
        <form id="add-term-form">
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input placeholder="Term" id="term-input" type="text" class="validate" maxlength="255" required>
                        <label for="term-input">Term</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <textarea class="materialize-textarea validate" id="term-description-input" maxlength="2048" placeholder="Description" required></textarea>
                        <label for="term-description-input">Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <select id="term-license-input">
                            <option selected disabled>Choose a license</option>
                            {% for license in licenses %}
                            <option>{{ license.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="term-license-input">License</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <select id="term-domain-input">
                            <option selected disabled>Choose a domain</option>
                            {% for domain in domains %}
                            <option>{{ domain.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s10">
                    <button type="submit" class="waves-effect waves-light btn blue darken-4" id="submit-add-term-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="add-relationship-modal" class="modal">
    <div class="modal-content">
        <h4>Add Relationship</h4>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input placeholder="Relationship" id="relationship-input" type="text" class="validate" maxlength="255">
                    <label for="relationship-input">Relationship</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s2 offset-s10">
                <button type="button" class="waves-effect waves-light btn blue darken-4" id="submit-add-relationship-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
<div id="add-domain-modal" class="modal">
    <div class="modal-content">
        <h4>Add Domain</h4>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input placeholder="Name" id="domain-name-input" type="text" class="validate" maxlength="255">
                    <label for="domain-name-input">Domain Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <textarea class="materialize-textarea validate" id="domain-description-input" maxlength="2048" placeholder="Description" required></textarea>
                    <label for="domain-description-input">Description</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <select id="domain-manager-input">
                        <option selected disabled>Choose a manager</option>
                        {% for user in users %}
                        <option data-id="{{ user.username }}">{{ user.get_full_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="domain-manager-input">Manager</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s2 offset-s10">
                <button type="button" class="waves-effect waves-light btn blue darken-4" id="submit-add-domain-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
