{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript">
jsonFile = '{% static 'vocab/miserables.json' %}';
</script>
<script type="text/javascript" src="{% static 'js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'vocab/js/vocab_graph.js' %}"></script>
{% endblock %}
{% block styles %}
<link href="{% static 'vocab/css/vocab_graph.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<ul id="side-navbar" class="side-nav fixed">
  <li><h5 class="center-align">Filter Options</h5></li>
  <li></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-blue">Domains<i class="mdi-navigation-arrow-drop-down"></i></a>
        <div class="collapsible-body">
          <ul>
            {% for domain in domains %}
            <li><p class="sidebar-checkbox"><input type="checkbox" id="domain-{{ domain.id }}"><label for="domain-{{ domain.id }}">{{ domain }}</label></p></li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-blue">Relationships<i class="mdi-navigation-arrow-drop-down"></i></a>
        <div class="collapsible-body">
          <ul>
            {% for relationship in relationships %}
            {% if relationship.approved %}
            <li><p class="sidebar-checkbox"><input type="checkbox" id="relationship-{{ relationship.id }}"><label for="relationship-{{ relationship.id }}">{{ relationship }}</label></p></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a href="#!">Term &emsp;<button class="btn-floating btn-small waves-effect waves-light grey"><i class="material-icons small">info_outline</i></button></a></li>
  <li>
    <div class="row">
      <div class="col m10 offset-m1">
        <div class="input-field sidebar-search">
          <input id="term-search" type="text">
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="row">
      <div class="col m6 offset-m3 valign-wrapper">
    <button class="btn btn-large waves-effect waves-light blue darken-4 white-text" id="search-btn" type="button">Search<i class="material-icons left">search</i></a>
  </div>
</div>
</ul>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
<div class="chart-container">
</div>
{% endblock %}
