@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/Roboto-Light.ttf) format("truetype");
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.cursor-pointer {
    cursor: pointer;
}
.home-circle {
    height: 200px;
    width: 200px;
}
.true-center {
     position: relative;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
.true-horizontal-center {
     position: relative;
     left: 50%;
     -moz-transform: translate(-50%);
     -webkit-transform: translate(-50%);
     -ms-transform: translate(-50%);
     -o-transform: translate(-50%);
     transform: translate(-50%);
}
.collapsible-body {
    background-color: #f5f5f5;
}
.btn {
    background-color: #ffab91;
}
.tabs .indicator {
    background-color: #0d47a1;
}
.input-field input[type=text]:focus {
      border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  -moz-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}
.input-field input[type=password]:focus {
      border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  -moz-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}
.login-center {
	position: relative;
	transform: translateY(50%);
}
.pagination li.active {
    background-color: #0d47a1;
}
