{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/auth_base.js' %}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="//{{ request.get_host }}{% url 'main' %}" class="brand-logo">VocabularyHarmonizer</a>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                {% block auth_page_content %}

                {% endblock %}
            </div>
        </div>
        {% endblock %}

        {% block footer %}
        {% endblock %}
