{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VocabularyHarmonizer</title>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/materialize.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/loader.js' %}" type="text/javascript"></script>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vocabulary_harmonizer.css' %}">
    <link href="{% static 'css/material_icons.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>
<body class="white">
<header>
    {% block navbar %}
        <div class="navbar-fixed" id="top-navbar">
            <nav>
                <div class="nav-wrapper blue darken-4">
                    <a href="//{{ request.get_host }}{% url 'main' %}" class="brand-logo">VocabularyHarmonizer</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a id="nav-about" href="//{{ request.get_host }}{% url 'about' %}">About</a></li>
                        <li><a id="nav-vocab-main" href="//{{ request.get_host }}{% url 'vocab:main_page' %}">Vocabulary</a></li>
                        <li><a id="nav-vocab-graph" href="//{{ request.get_host }}{% url 'vocab:vocab_graph' %}">VocabGraph</a></li>
                        {% if user.is_anonymous %}
                        <li><a href="//{{ request.get_host }}{% url 'login' %}">Log in</a></li>
                        {% else %}
                        {% if is_manager %}<li><a id="nav-pending" href="//{{ request.get_host }}{% url 'vocab:pending' %}">Pending <span class="badge amber lighten-3 black-text">{{ pending }}</span></a></li>{% endif %}
                        <li><a id="nav-user" href="#">{{ user.first_name }}</a></li>
                        <li><a id="nav-logout" href="//{{ request.get_host }}{% url 'logout' %}">log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock %}
</header>
<main>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</main>
    {% block footer %}
        <footer class="page-footer blue darken-4">
            <div class="footer-copyright">
                <div class="container">
                    Unless otherwise noted, all content on this website is licensed under a <a class="grey-text text-lighten-5" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>
