{% extends 'auth_base.html' %}
              {% block auth_page_content %}
              {% if form.errors %}
<div class="row">
        <div class="col s12">
          <div class="card red">
            <div class="card-content white-text">
              <p>Username or password were incorrect. Please try again.</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
              <form method="POST" action="{% url 'login' %}">
                  {% csrf_token %}
            <div class="card-content blue-text text-darken-4">
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input name="username" class="validate" placeholder="username" type="text" id="id_username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input name="password" class="validate" placeholder="password" type="password" id="id_password" required>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col m3 offset-m8 s4 offset-s7">
                        <div class="right-align">
                <input class="btn waves-effect waves-light blue darken-4" value="Log in" type="submit" id="login-submit">
</div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            </div>
          </div>
      </form>
        </div>
        {% endblock %}
