{% extends 'auth_base.html' %}

{% block auth_page_content %}
<div class="card-content blue-text text-darken-4">
    <div class="row">
        <div class="col s12">
<h5 class="center-align">You have been successfully logged out.</h5>
</div>
</div>
</div>
<div class="card-action">
    <div class="row">
        <div class="col s12">
            <div class="center-align">
    <a class="btn waves-effect waves-light blue darken-4" href="//{{ request.get_host }}">Return Home</a>
</div>
</div>
</div>
</div>
{% endblock %}
