.sidebar-checkbox {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.collapsible .active .active {
  background-color: #0d47a1;
  color: #ffffff;
}
.collapsible .active .active:hover {
  background-color: #1e88e5;
  color: #ffffff;
}
main {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
.container {
  margin-left: 0px;
}
.chart-container {
  position: absolute;
  width: 100%;
  vertical-align: top;
}
.svg-content {
    display: inline-block;
    position: relative;
}
